services:
  backend:
    build: ./backend
    container_name: malkhana_backend
    restart: always
    ports:
      - "3000:3000"
    env_file: .env # Directly loads all variables from the root .env

  frontend:
    build: 
      context: ./frontend
      args:
        # Pass these so Vite can use them during 'npm run build'
        - VITE_API_URL=${VITE_API_URL}
        - VITE_SOCKET_URL=${VITE_SOCKET_URL}
        - VITE_URL=${VITE_URL}
    container_name: malkhana_frontend
    restart: always
    ports:
      - "5173:5173"
    depends_on:
      - backend